<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
        <style>
            body {
                font-family: 'Roboto', serif;;
            }
        </style>
    </head>
    <body>
        <div>
            <svg width="264px" height="60px" viewBox="0 0 264 60" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <g id="uuBookKit_logo" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <path d="M29,21.84 L37.28,21.84 C37.04,23.72 36.96,25.4 36.96,27.84 L36.96,40.2 C36.96,42.96 37.04,44.6 37.28,46.2 L29.32,46.2 L29.32,44.48 C29.32,44.28 29.32,43.68 29.36,43.4 C26.72,45.88 24.44,46.84 21.04,46.84 C18.36,46.84 16.2,46.08 14.68,44.6 C13.08,43 12.4,41.04 12.4,37.88 L12.4,27.84 C12.4,25.52 12.28,23.52 12.08,21.84 L20.4,21.84 C20.16,23.76 20.08,25.44 20.08,27.84 L20.08,36.04 C20.08,37.68 20.24,38.4 20.72,39.04 C21.28,39.76 22.16,40.16 23.32,40.16 C25.52,40.16 27.76,38.6 29.32,36.04 L29.32,27.84 C29.32,25.6 29.24,23.92 29,21.84 Z M58.36,21.84 L66.64,21.84 C66.4,23.72 66.32,25.4 66.32,27.84 L66.32,40.2 C66.32,42.96 66.4,44.6 66.64,46.2 L58.68,46.2 L58.68,44.48 C58.68,44.28 58.68,43.68 58.72,43.4 C56.08,45.88 53.8,46.84 50.4,46.84 C47.72,46.84 45.56,46.08 44.04,44.6 C42.44,43 41.76,41.04 41.76,37.88 L41.76,27.84 C41.76,25.52 41.64,23.52 41.44,21.84 L49.76,21.84 C49.52,23.76 49.44,25.44 49.44,27.84 L49.44,36.04 C49.44,37.68 49.6,38.4 50.08,39.04 C50.64,39.76 51.52,40.16 52.68,40.16 C54.88,40.16 57.12,38.6 58.68,36.04 L58.68,27.84 C58.68,25.6 58.6,23.92 58.36,21.84 Z M88,46.24 L77.12,46.24 C74.08,46.24 72.92,46.28 71.2,46.36 C71.44,44.64 71.52,43.28 71.52,40.48 L71.52,18.6 C71.52,16.48 71.44,14.76 71.2,12.84 C73.24,12.96 73.8,12.96 77.08,12.96 L87.56,12.96 C94.04,12.96 97.84,16.08 97.84,21.36 C97.84,23.8 97.04,25.72 95.52,27.08 C94.64,27.84 93.92,28.24 92.28,28.84 C94.24,29.28 95.28,29.76 96.44,30.76 C98.16,32.28 99.04,34.44 99.04,37.08 C99.04,42.84 94.96,46.24 88,46.24 Z M79.36,25.8 L86.4,25.8 C88.52,25.8 89.84,24.56 89.84,22.6 C89.84,20.64 88.6,19.52 86.32,19.52 L79.36,19.52 L79.36,25.8 Z M79.36,32.2 L79.36,39.64 L86.72,39.64 C89.24,39.64 90.76,38.24 90.76,35.88 C90.76,33.56 89.24,32.2 86.68,32.2 L79.36,32.2 Z M114.84,47.16 C106.8,47.16 101.68,42.04 101.68,34 C101.68,26 106.8,20.92 114.88,20.92 C122.96,20.92 128.08,26 128.08,33.92 C128.08,41.88 122.8,47.16 114.84,47.16 Z M114.92,26.92 C111.4,26.92 109.32,29.56 109.32,33.96 C109.32,38.4 111.4,41.08 114.88,41.08 C118.36,41.08 120.36,38.48 120.36,34.04 C120.36,29.56 118.32,26.92 114.92,26.92 Z M143.44,47.16 C135.4,47.16 130.28,42.04 130.28,34 C130.28,26 135.4,20.92 143.48,20.92 C151.56,20.92 156.68,26 156.68,33.92 C156.68,41.88 151.4,47.16 143.44,47.16 Z M143.52,26.92 C140,26.92 137.92,29.56 137.92,33.96 C137.92,38.4 140,41.08 143.48,41.08 C146.96,41.08 148.96,38.48 148.96,34.04 C148.96,29.56 146.92,26.92 143.52,26.92 Z M159.92,12.96 L168.04,12.96 C167.8,14.6 167.72,16.32 167.72,19 L167.72,30.24 L172.12,25.88 C173.96,24.04 174.84,23 175.6,21.84 L186.24,21.84 C184.68,23.2 184.2,23.64 182.04,25.76 L176.24,31.36 L182.92,41.12 C185.36,44.64 185.52,44.88 186.64,46.24 L176.44,46.24 C175.84,44.56 174.96,42.8 173.8,40.88 L170.76,35.92 L167.76,38.8 L167.76,40.4 C167.76,43.68 167.8,44.64 168.08,46.24 L159.92,46.24 C160.16,44.44 160.24,42.84 160.24,40.2 L160.24,19 C160.24,16.28 160.12,14.44 159.92,12.96 Z M207.24,26.12 L216.88,40.32 C219.24,43.84 219.76,44.56 221.12,46.24 L210.72,46.24 C210.16,44.96 209,42.84 207.96,41.16 L201.76,31.24 L197.72,35.28 L197.72,40.32 C197.72,42.8 197.8,44.12 198.04,46.24 L189.56,46.24 C189.8,44.2 189.88,42.72 189.88,40.32 L189.88,18.88 C189.88,16.44 189.8,14.88 189.56,12.96 L198.04,12.96 C197.8,15.04 197.72,16.36 197.72,18.88 L197.72,25.96 L205.68,17.44 C207.24,15.8 208.28,14.44 209.16,12.96 L219.96,12.96 C219.24,13.68 218.96,14 218.4,14.56 L215.6,17.36 L207.24,26.12 Z M223.72,12.96 L231.84,12.96 L231.84,18.96 L223.72,18.96 L223.72,12.96 Z M223.6,21.84 L231.96,21.84 C231.72,23.48 231.64,25.08 231.64,27.88 L231.64,40.2 C231.64,42.36 231.76,44.52 231.96,46.24 L223.6,46.24 C223.84,44.28 223.92,42.76 223.92,40.2 L223.92,27.88 C223.92,25.28 223.84,23.64 223.6,21.84 Z M239.36,21.84 L239.36,21 C239.36,19 239.28,17.4 239.04,15.52 L247.2,15.52 C247,17.16 246.88,19.08 246.88,21 L246.88,21.84 L248.32,21.84 C250.08,21.84 251,21.8 252.24,21.64 L252.24,28.28 C251.04,28.12 250,28.04 248.56,28.04 L246.88,28.04 L246.88,38.28 C246.88,39.4 247.08,39.96 247.6,40.32 C248.04,40.6 248.68,40.76 249.44,40.76 C250.48,40.76 251.24,40.56 252.24,40.04 L252.84,46.12 C251.04,46.68 249.48,46.92 247.32,46.92 C244.6,46.92 242.72,46.48 241.44,45.52 C239.92,44.36 239.36,43 239.36,40.28 L239.36,28.04 L237.84,28.04 C236.56,28.04 235.52,28.12 234.36,28.28 L234.36,21.6 C235.52,21.76 236.52,21.84 237.92,21.84 L239.36,21.84 Z" id="uuBookKit" fill="#000000" fill-rule="nonzero"></path>
                </g>
            </svg>
        </div>
        <h3 style="margin: 10px">What's new in <i>{{configuration.bookkit.name}}</i></h3>
        <ul>
            {{#each pages}}
            <li>
                {{#if modified}}
                    {{formatDate modified}} - <b><a href="{{../configuration.bookkit.uri}}/book/page?code={{pageCode}}">{{name}}</a></b> (section: <b>{{code}}</b>) updated by <i><a href="https://uuapp.plus4u.net/uu-plus4upeople-maing01/56ac93ddb0034de8b8e4f4b829ff7d0f/personDetail?uuIdentity={{uuIdentity}}">{{uuIdentityName}}</a></i>
                {{else}}
                    {{formatDate created}} - <b><a href="{{../configuration.bookkit.uri}}/book/page?code={{pageCode}}">{{name}}</a></b> (section: <b>{{code}}</b>) created by <i><a href="https://uuapp.plus4u.net/uu-plus4upeople-maing01/56ac93ddb0034de8b8e4f4b829ff7d0f/personDetail?uuIdentity={{uuIdentity}}">{{uuIdentityName}}</a></i>
                {{/if}}
            </li>
            {{/each}}
        </ul>
    </body>
</html>